*{
    box-sizing: border-box;
}
/* #region common */
:root{
    --tobo-dark: ;
    --tobo-bg-color: #ffffff;
    --tobo-body-bg-color: #f6f8f9;
    --tobo-primary: #1988de;
    --tobo-goals-bg: #a24fae;
    --tobo-recruiting-bg: #2e9ab7;
    --tobo-mobile-bg: #ad8050;
    --tobo-website-bg: #ec4a9d;
    --tobo-sales-bg: #76a05d;
}
/* #endregion common */

body{
  background-color: #f6f8f9;  
  font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
}

main{
    margin-top: 3rem;
    width: 50%;
    margin-left: 30%;
}

h1{
    display: inline-block;
    font-weight: bold;
    font-size: 3rem;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 30px;
}

button{
    border-radius: 15px;
}

#container_button{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

#interactive_blue{
    background-color: #1988de;
    border-color: #1988de;
    color: white;
}

#interactive_grey{
    background-color: white;
    color: lightgray;
    border-color: #f6f8f9;
}

#list_box{
    background-color: white;
    margin-top: 5px;
    border-radius: 10px;
    padding: 50px;
}

.option_container{
    margin: 5px;
}

.strong_title{
    font-weight: 900;
}

.background_blue{
    background-color: #1988de;
}

.background_light_blue{
    background-color: #2e9ab7 ;
}

.background_orange{
    background-color: #ad8050 ;
}


.background_purple{
    background-color: #a24fae;
}

.background_green{
    background-color: #76a05d ;
}

.background_pink{
    background-color: #ec4a9d ;
}


.background_blue, .background_pink, .background_light_blue, .background_purple, .background_orange, .background_green{
    color: white;
    border-radius: 15px;
    padding: 6px;
}