*{
    box-sizing: border-box;
}

body{
  background-color: #f6f8f9;  
}

header{
    background-color: white;
}

main{
    margin-top: 3rem;
    width: 50%;
    margin-left: 30%;
}

h1{
    display: inline-block;
    font-weight: bold;
    font-size: 3rem;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 30px;
}

button{
    border-radius: 0,9rem;
}

#container_button{
    background-color: white;
    border-radius: 0,5rem;
    padding: 1rem;
}

#interactive_blue{
    background-color: #1988de;
    border-color: #1988de;
    color: white;
}

#interactive_grey{
    background-color: white;
    color: lightgray;
    border-color: #f6f8f9;
}